<% myGists = ["/kirinm1/5703173","/SamanthaRadocchia/5703194","/deatheragetr/5703240",
"/mendelk/5703284","/dfriedm/5703312","/chhhris/5703347","/JGTR/ef1e81cc1e8deaf5f67c","/lightn1ng/311261a563baf3e8e972","/desmondrawls/5703430","/gglin/5703455","/awaxman11/5703494","/jmlcampbell/e58881364b28e302acdf","/joegiralt/5703519","/rodriguezd/5702208","/joshuaccollins/f6b790b4dfff08f70da3","/chrisgonzgonz/5703547","/anishavasandani/5703695","/maxjacobson/5703632","/sarahduve/5703716"] %>
<h1>Alien Sandwich</h1>
<ul>
<% myGists.each do |gist| %>
	<li>
		<strong><a href="<%= GistScraper::BASE_URL + gist %>"><%= gist %>:</a></strong>
    <%= GistScraper::getContent(gist) %>
    <br/>
	</li>
<% end %>
</ul>
